body {
    color:white;
    background-color: #292929;
}

.sliderContainer {
    margin-left: 10px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.sliderElement {
    margin-right: 30px;
}

.buttonContainer {
    display: flex;
    margin: 10px;
    column-gap: 10px;
}

.gridContainer {
    margin: 15px;
    border: 1px solid white;
    inline-size: min-content;
}

.resultContainer {
    display: flex;
    margin: 10px;
    column-gap: 10px;
}

.rowWrapper {
    display: flex;
}

.node {
    border: 1px solid white;    
    height: 30px;
    width: 30px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    line-height: 26px;
    color:white;
}

.node-wall {
    background-color: aliceblue;
}

.node-goal {
    background-image: conic-gradient(lawngreen 0deg 360deg) !important;
    border: 1px solid black !important;
    box-shadow: inset 0 0 0 4px darkgreen;
    color:darkgreen !important;
}

.node-start-1 {
    box-shadow: inset 0 0 0 4px darkred !important;
    border: 1px solid darkred !important; 
    /* color: darkred; */
}

.node-start-2 {
    box-shadow: inset 0 0 0 4px mediumblue !important;
    border: 1px solid mediumblue !important;
    /* color: mediumblue; */
}

.node-start-3 {
    box-shadow: inset 0 0 0 4px saddlebrown !important;
    border: 1px solid saddlebrown !important;
    /* color:saddlebrown; */
}

.node-start-4 {
    box-shadow: inset 0 0 0 4px indigo !important;
    border: 1px solid indigo !important;
    /* color:indigo; */
}

.node-visited-1 {
    background-color: crimson;
}

.node-visited-2 {
    background-color:dodgerblue;
}

.node-visited-3 {
    background-color: darkkhaki;
}

.node-visited-4 {
    background-color: darkorchid;
}

.node-winner-1 {
    box-shadow: inset 0 0 0 4px darkred;
}

.node-winner-2 {
    box-shadow: inset 0 0 0 4px mediumblue;
}

.node-winner-3 {
    box-shadow: inset 0 0 0 4px saddlebrown;
}

.node-winner-4 {
    box-shadow: inset 0 0 0 4px indigo;
}

.node-winner-tie {
    box-shadow: inset 0 0 0 4px #4d4d4d;
}

@keyframes current-anim {
    from {}
    to {box-shadow: inset 0 0 0 3px black;}
  }

.node-current {
    animation-name: current-anim;
    animation-duration: 50ms;
}

.node-visited-1-2 {
    background-image: conic-gradient(crimson 0deg 180deg,dodgerblue 180deg 360deg);
    /* background-image: repeating-conic-gradient(crimson 0deg 90deg,dodgerblue 90deg 180deg); */
}

.node-visited-1-3 {
    background-image: conic-gradient(crimson 0deg 180deg,darkkhaki 180deg 360deg);
}

.node-visited-1-4 {
    background-image: conic-gradient(crimson 0deg 180deg,darkorchid 180deg 360deg);
}

.node-visited-2-3 {
    background-image: conic-gradient(dodgerblue 0deg 180deg,darkkhaki 180deg 360deg);
}

.node-visited-2-4 {
    background-image: conic-gradient(dodgerblue 0deg 180deg,darkorchid 180deg 360deg);
}

.node-visited-3-4 {
    background-image: conic-gradient(darkkhaki 0deg 180deg,darkorchid 180deg 360deg);
}

.node-visited-1-2-3 {
    background-image: conic-gradient(crimson 0deg 120deg,dodgerblue 120deg 240deg, darkkhaki 240deg 360deg);
}

.node-visited-1-2-4 {
    background-image: conic-gradient(crimson 0deg 120deg,dodgerblue 120deg 240deg, darkorchid 240deg 360deg);
}

.node-visited-1-3-4 {
    background-image: conic-gradient(crimson 0deg 120deg,darkkhaki 120deg 240deg, darkorchid 240deg 360deg);
}

.node-visited-2-3-4 {
    background-image: conic-gradient(dodgerblue 0deg 120deg, darkkhaki 120deg 240deg, darkorchid 240deg 360deg);
}

.node-visited-1-2-3-4 {
    background-image: conic-gradient(crimson 0deg 90deg, dodgerblue 90deg 180deg, darkkhaki 180deg 270deg, darkorchid 270deg 360deg);
}

