body {
    color:white;
    background-color: #292929;
}

.sliderContainer {
    margin-left: 10px;
    display: flex;
    align-items: stretch;
    justify-content:flex-start; 
}

.buttonContainer {
    display: flex;
    margin: 10px;
    column-gap: 10px;
}

.gridContainer {
    margin: 15px;
    border: 1px solid white;
    inline-size: min-content;
}

.rowWrapper {
    display: flex;
}

.node {
    border: 1px solid white;    
    height: 40px;
    width: 40px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    /* color : black !important; */
}

.node-wall {
    background-color: aliceblue;
}

.node-goal {
    background-image: conic-gradient(lawngreen 0deg 360deg) !important ; 
    /* box-shadow: inset 0 0 0 5px lawngreen !important ; */
    color:darkgreen;
    
}

.node-visited-1 {
    background-color: crimson;
    /* box-shadow: inset 0 0 0 7px crimson; */
    /* color:maroon; */
}

.node-visited-2 {
    background-color:dodgerblue;
    /* box-shadow: inset 0 0 0 7px dodgerblue; */
    /* color: darkblue; */
}

.node-visited-3 {
    background-color: darkkhaki;
    /* box-shadow: inset 0 0 0 7px darkdarkkhaki; */
    /* color:peru; */
}

.node-visited-4{
    background-color: darkorchid;
    /* box-shadow: inset 0 0 0 7px darkorchid; */
    /* color:indigo; */
}

.node-winner-1 {
    box-shadow: inset 0 0 0 5px maroon;
}

.node-winner-2 {
    box-shadow: inset 0 0 0 5px darkblue;
}

.node-winner-3 {
    box-shadow: inset 0 0 0 5px peru;
}

.node-winner-4 {
    box-shadow: inset 0 0 0 7px indigo;
}

.node-winner-tie {
    box-shadow: inset 0 0 0 7px grey;
}

@keyframes current-anim {
    from {}
    to {box-shadow: inset 0 0 0 3px black;}
  }

.node-current {
    animation-name: current-anim;
    animation-duration: 50ms;
}

.node-visited-1-2 {
    background-image: conic-gradient(crimson 0deg 180deg,dodgerblue 180deg 360deg);
    /* background-image: repeating-conic-gradient(crimson 0deg 90deg,dodgerblue 90deg 180deg); */
}

.node-visited-1-3 {
    background-image: conic-gradient(crimson 0deg 180deg,darkkhaki 180deg 360deg);
}

.node-visited-1-4 {
    background-image: conic-gradient(crimson 0deg 180deg,darkorchid 180deg 360deg);
}

.node-visited-2-3 {
    background-image: conic-gradient(dodgerblue 0deg 180deg,darkkhaki 180deg 360deg);
}

.node-visited-2-4 {
    background-image: conic-gradient(dodgerblue 0deg 180deg,darkorchid 180deg 360deg);
}

.node-visited-3-4 {
    background-image: conic-gradient(darkkhaki 0deg 180deg,darkorchid 180deg 360deg);
}

.node-visited-1-2-3 {
    background-image: conic-gradient(crimson 0deg 120deg,dodgerblue 120deg 240deg, darkkhaki 240deg 360deg);
}

.node-visited-1-2-4 {
    background-image: conic-gradient(crimson 0deg 120deg,dodgerblue 120deg 240deg, darkorchid 240deg 360deg);
}

.node-visited-1-3-4 {
    background-image: conic-gradient(crimson 0deg 120deg,darkkhaki 120deg 240deg, darkorchid 240deg 360deg);
}

.node-visited-2-3-4 {
    background-image: conic-gradient(dodgerblue 0deg 120deg, darkkhaki 120deg 240deg, darkorchid 240deg 360deg);
}

.node-visited-1-2-3-4 {
    background-image: conic-gradient(crimson 0deg 90deg, dodgerblue 90deg 180deg, darkkhaki 180deg 270deg, darkorchid 270deg 360deg);
}



#test {
    margin-left: 100px;
    height: 100px;
    width: 100px;
    border: 1px solid white;   
    /* background-image: repeating-conic-gradient(red 0deg 90deg, yellow 90deg 180deg, blue 180deg 270deg, green 270deg 360deg); */
    /* background-image: repeating-conic-gradient(red 0deg 90deg); */
    /* background-image: repeating-conic-gradient(); */

    /* background-image: repeating-conic-gradient(yellow 90deg 180deg); */
    /* background-image: repeating-conic-gradient(var(--teste), var(--testo)); */
    /* background-image: conic-gradient(red 90deg 270deg,yellow 270deg 90deg); */
    --teste:crimson 0deg 90deg;
    --testee: dodgerblue 90deg 180deg;
    --testy:khaki 180deg 270deg;
    --testo:darkorchid 270deg 360deg;

    
}

:root {
}

.test1 {
    /* background-image: repeating-conic-gradient(yellow 90deg 180deg); */
    /* background-image: repeating-conic-gradient(red 0deg 90deg, yellow 90deg 180deg, blue 180deg 270deg, green 270deg 360deg); */
}

.test2 {
    
}

