body {
    color:white;
    background-color: #292929;
}

.sliderContainer {
    margin-left: 10px;
    display: flex;
    align-items: stretch;
    justify-content:flex-start; 
}

.buttonContainer {
    display: flex;
    margin: 10px;
    column-gap: 10px;
}

.gridContainer {
    margin: 15px;
    border: 1px solid white;
    inline-size: min-content;
}

.rowWrapper {
    display: flex;
}

.node {
    border: 1px solid white;    
    height: 40px;
    width: 40px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    /* color : black !important; */
}

.node-wall {
    background-color: aliceblue;
}

.node-goal {
    background-color:lawngreen !important ; 
    /* box-shadow: inset 0 0 0 5px lawngreen !important ; */
    color:darkgreen;
    
}

.node-1 {
    background-color: crimson;
    /* box-shadow: inset 0 0 0 7px crimson; */
    color:maroon;
}

.node-2 {
    background-color:dodgerblue;
    /* box-shadow: inset 0 0 0 7px dodgerblue; */
    color: darkblue;
}

.node-3 {
    background-color: darkkhaki;
    /* box-shadow: inset 0 0 0 7px darkkhaki; */
    color:peru;
}

.node-4{
    background-color: darkorchid;
    /* box-shadow: inset 0 0 0 7px darkorchid; */
    color:indigo;
}

.node-winner-1 {
    box-shadow: inset 0 0 0 5px maroon;
}

.node-winner-2 {
    box-shadow: inset 0 0 0 5px darkblue;
}

.node-winner-3 {
    box-shadow: inset 0 0 0 5px peru;
}

.node-winner-4 {
    box-shadow: inset 0 0 0 7px indigo;
}

.node-winner-tie {
    box-shadow: inset 0 0 0 7px grey;
}

@keyframes current-anim {
    from {}
    to {box-shadow: inset 0 0 0 3px black;}
  }

.node-current {
    animation-name: current-anim;
    animation-duration: 50ms;
}


